<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/common.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2 class="form-heading">User page</h2>

      <div class="card" th:each="picture : ${pictures}" style="width: 18rem;">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top"  th:src="${picture.getUrl()}" alt="Card image cap">
              <div class="card-body">
                  <p class="card-text" th:text="${picture.getId()}"></p>
              </div>
          </div>
      </div>

    <form id="logoutForm" method="POST" th:action="@{/logout}">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <h4 class="text-center"><a onclick="document.forms['logoutForm'].submit()">Logout</a></h4>
    </form>
</div>
</body>
</html>
